!!!
%html{lang: "en"}
  = render "layouts/head"
  %body{"data-turbolinks" => content_for?(:disable_turbolinks) ? "false" : nil}
    .container{class: @empty_page ? "empty_page" : ""}
      .row.logo_row
        .col-12
          %h1
            %a.site_logo{href: "/card"}= APP_NAME
      = form_tag("/card", method: :get, class: "search", enforce_utf8: false) do
        .row.search_form_row
          .col-12.col-md-10
            = text_field_tag(:q, @search, {class: 'form-control', tabindex: 1, autofocus: @empty_page, autocapitalize: "off"})
          .col-12.col-md-2
            = submit_tag("Search", name: nil, class: "btn btn-outline-primary")
        .row.search_form_row
          .col-12.col-md-4
            = check_box_tag(:pool, "1", @_pool)
            = select_tag(:pools, options_for_select(pools, @_pools), :onchange => "document.getElementById('pool').checked = true")
          .col-12.col-md-4
            = check_box_tag(:format, '1', @_format)
            = select_tag(:formats, options_from_collection_for_select(formats, "id", :name, @__formats), :onchange => "document.getElementById('format').checked = true")
          .col-12.col-md-4
            = check_box_tag(:sort, '1', @_sort)
            = select_tag(:sorting_order, options_from_collection_for_select(sorting_orders, "id", :name, @_sorting_order), :onchange => "document.getElementById('sort').checked = true")
      = yield
      = render "layouts/footer"
